/*framework for modules*/
nav {
  width: 305px;
  height: calc(100vh - 70px);;
  background-color: #fcfcfc;
  overflow-y: hidden;
  flex-direction: column;
  overflow: visible;
  position: relative;
}

ul {
  position: relative;
}

li {
  font-size: 18px;
  width: 305px;
  padding-block: 5px;
  transition: 0.2s;
}

li:hover {
  background-color: var(--lighttea);
  border-right: 3px solid #A9BB63;
  box-shadow: 0px 2px 3px grey;
}

li:active {
  background-color: var(--tea);
  box-shadow: 0px 2px 3px grey;
}

a {
  font-weight: bold;
  text-decoration: none;
}

#home-button {
  color: black;
  font-size: 22px;
  background-color: var(--tea);
  width: 265px; /* 305px - 20px - 20px */
  box-shadow: 0px 0.5px 2px grey;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  margin-block: 45px;
}

#home-icon {
  height: 20px;
  margin-right: 10px;
}

#lesson-title {
  font-size: 22px;
  padding-block: 5px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#yay {
  display: flex;
  height: calc(100% - 70px);
}

#main {
  width: calc(100% - 305px);
  height: calc(100% - 70px);
  background-color: var(--lightgray);
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  /* display: grid;
  column-gap: 80px;
  row-gap: 16px;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  justify-items: center; */
}

/*keep module the same length
app-lesson-module {
  min-width: 300px;
}*/

/*design of the modules*/
section {
  width: 80%;
  /* grid-auto-flow: column;
  grid-column-end: span 4; */
  height: fit-content;
  /* max-height: 240px; */
  background-color: #fcfcfc;
  padding-inline: 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px var(--lightgray);
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */
}

/*placement of progress bar*/
#progress-check {
  text-align: center;
  margin-bottom: 18px;
  margin-top: 20px;
}

/*shape of progress bar titles*/
#progress-labels {
  width: 90%;
  height: fit-content;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 0.5vw;
}


#progress-labels p {
  margin-top: auto;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

/*shape of progress bar */
#progress {
  width: 90%;
  min-height: 30px;
  background-color: var(--lightgray);
  padding: 5px;
  border-radius: 40px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 0.5vw;
}

/*ombre of green for each section of progress bar*/
#bar1 { background-color: #A9BB63; border-radius: 40px 0 0 40px;}
#bar2 { background-color: #AFC270; }
#bar3 { background-color: #B7C87E; }
#bar4 { background-color: #BFCE8D; }
#bar5 { background-color: #C7D49B; }
#bar6 { background-color: #CFDAA9; }
#bar7 { background-color: #D8E0B8; }
#bar8 { background-color: #E0E6C6; border-radius: 0 40px 40px 0;}

/*default color of progress bar*/
.empty {
  background-color: rgb(222, 222, 222) !important;
}

/*design of view test history*/
#history {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  transition: 0.35s;
}

#history:hover {
  padding-left: 0.4vw;
}

.arrow {
  text-decoration: none;
  padding-left: 0.5vw;
  transition: 0.35s;
}

#history:hover .arrow {
  text-decoration: underline;
  padding-left: 0.2vw;
}

#menu {
  background-color: var(--tea);
  padding: 20px 18px;
  border: none;
  border-radius: 100px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 0;
  transition: 0.3s;
}
#menu:hover {
  box-shadow: 0px 0px 10px 1px rgb(141, 141, 141);
}
#menu:active {
  box-shadow: 0px 0px 5px 0.5px rgb(141, 141, 141);
  filter: brightness(90%);
}

#menu-icon {
  width: 30px;
}

#close {
  background-color: rgba(211, 211, 211, 0);
  padding: 4px;
  border: none;
  border-radius: 100px;
  position: absolute;
  top: 5px;
  right: 2px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.3s;
}
#close:hover {
  background-color: rgb(228, 228, 228);
}

#close-icon {
  height: 24px;
}


@media only screen and (max-width: 1200px) {
  section {
    width: 90%;
  }
}
@media only screen and (max-width: 1000px) {
  #progress-labels {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  nav {
    width: 250px;
    position: absolute;
    overflow-y: scroll; 
    overflow-x: hidden;
    display: none;
    z-index: 1;
  }
  ul {
    margin-bottom: 50px;
  }
  li {
    width: 250px;
  }
  #home-button {
    width: 210px; /* 250px - 20px - 20px*/
  }
  #sidebar {
    display: none;
  }
  #sidebar.expanded {
    display: flex;
  }
  #main {
    width: 100%;
  }
  #menu {
    display: flex;
  }
  #close.expanded {
    display: flex;
  }
}


