<main>
    <app-lesson-module *ngFor="let lessonModule of lessonModuleList" [lessonModule]="lessonModule"></app-lesson-module>    

    <section>
      <h3 id="progress-check">{{ "progress_check" | translate }}</h3>
      <div id="progress-labels">
        <p *ngFor="let lm of lessonModuleList">{{ lm.title | translate }}</p>
      </div>
      <div id="progress">
        <div *ngFor="let style of barStyleIds; let i = index" id="{{style}}" [class.empty]="!lessonModuleList[i].completed"></div>
      </div>
      <p id="history">> <span class="arrow">{{ "view_test_history" | translate }}</span></p>
    </section>
 </main>