  
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--smoke);
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  
  h2 {
    font-size: 20px;
  }
  
  header {
    height: 80px;
    background-color: var(--lighttea);
    /*padding-top: 5px;*/
    padding: 5px 5vw;
    box-shadow: 0px 5px 25px var(--lightgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo {
    height: 70px;
  }

  #language {
    margin-right: 2vw; 
    background: #CCD5AE;
    border: none;
    color: black;
    cursor: pointer;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
  }
  
  #logout {
    background-color: #CCD5AE;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
  
  main {
    display: grid;
    column-gap: 80px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 20vw));
    margin-top: 40px;
    justify-content: center;
  }

  section {
    /*width: 84vw;*/
    grid-auto-flow: column;
    grid-column-end: span 4;
    height: 25vh;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px var(--lightgray);
    margin-top: 20px;
    column-span: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  #progress-labels {
    width: 75vw;
    margin-bottom: 10px;
    margin-left: 3.5vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 0.5vw;
  }
  
  #progress {
    width: 75vw;
    height: 30px;
    background-color: var(--lightgray);
    padding: 5px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 0.5vw;
  }