<!DOCTYPE html>

<html>
<body>
  <header>
    <a [routerLink]="['/']"><img id="logo" src="./assets/ReEstablish-Richmond.png" alt="ReEstablish Richmond logo" /></a>
    <div>
      <select name="languages" id="language">
        <option value="Arabic">Arabic</option>
        <option value="Dari">Dari</option>
        <option value="Pashto">Pashto</option>
        <option value="Swahili">Swahili</option>
        <option value="Kinyarwanda">Kinyarwanda</option>
      </select>
      <button id="logout" type="button">Logout</button>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
    <!--
    <app-lesson-module *ngFor="let lessonModule of lessonModuleList" [lessonModule]="lessonModule"></app-lesson-module>    

    <section>
      <div id="progress-labels">
        <p style="justify-self: end;">100%</p>
        <p style="justify-self: end;">70%</p>
        <p style="justify-self: end;">70%</p>
        <p style="justify-self: end;">70%</p>
        <p style="justify-self: end;">70%</p>
        <p style="justify-self: end;">70%</p>
        <p style="justify-self: end;"></p>
      </div>
      <div id="progress">
        <div style="background-color: #9FB654; border-radius: 40px 0 0 40px;"></div> #A7BC62
        <div style="background-color: #A9BB63; border-radius: 40px 0 0 40px;"></div>
        <div style="background-color: #AFC270;"></div>
        <div style="background-color: #B7C87E;"></div>
        <div style="background-color: #BFCE8D;"></div>
        <div style="background-color: #C7D49B;"></div>
        <div style="background-color: #CFDAA9;"></div>
        <div style="background-color: #D8E0B8; border-radius: 0 40px 40px 0;"></div>
      </div>
    </section>
  -->
  </main>
</body>
</html>
