<!DOCTYPE html>

<html>
<body>
  <header>
    <img id="logo" src="./assets/ReEstablish-Richmond.png" alt="ReEstablish Richmond logo" />
    <div>
      <select name="languages" id="language">
        <option value="Arabic">Arabic</option>
        <option value="Dari">Dari</option>
        <option value="Pashto">Pashto</option>
        <option value="Swahili">Swahili</option>
        <option value="Kinyarwanda">Kinyarwanda</option>
      </select>
      <button id="logout" type="button" (click)="completeLesson(1)">Logout</button>
    </div>
  </header>
  
  <router-outlet></router-outlet> 
  
</body>
</html>
