#yay {
  display: flex;
  height: calc(100% - 70px);
}

nav {
  width: 305px;
  height: calc(100vh - 70px);;
  background-color: #fcfcfc;
  overflow-y: hidden;
  flex-direction: column;
  overflow: visible;
}

ul {
  position: relative;
}

li {
  font-size: 18px;
  width: 305px;
  padding-block: 5px;
  transition: 0.2s;
}

li:hover {
  background-color: var(--lighttea);
  border-right: 3px solid #A9BB63;
  box-shadow: 0px 2px 3px grey;
}

li:active {
  background-color: var(--tea);
  box-shadow: 0px 2px 3px grey;
}

a {
  font-weight: bold;
  text-decoration: none;
}

#home-button {
  color: black;
  font-size: 22px;
  font-weight: normal;
  width: calc(305px - 20px);;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-block: 45px;
}

#home-icon {
  margin-right: 8px;
}

#lesson-title {
  font-size: 22px;
  padding-block: 5px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.activeTab {
  font-weight: bold;
  background-color: var(--tea) !important;
  box-shadow: 0px 0.5px 2px grey !important;
}
  
main {
  width: calc(100% - 305px);
  height: calc(100% - 70px);
  display: flex;
  justify-content: center;
}

  .next {
    background-color: #CCD5AE;
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    font-weight: bold;
    transition: 0.1s;
  }

  .next:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  }
  .next:active {
    box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.25);
    filter: brightness(90%);
  }
  
  .center{
    position: fixed;
    z-index: 0;
    bottom: 25px;
  }

#menu {
  background-color: var(--tea);
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 100px;
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#close {
  background-color: lightgray;
  width: 5px;
  height: 5px;
  padding: 15px;
  border: none;
  border-radius: 100px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

@media only screen and (max-width: 650px) {
  nav {
    width: 250px;
    position: absolute;
    overflow-y: scroll; 
    overflow-x: hidden;
    display: none;
    z-index: 2;
  }
  ul {
    margin-bottom: 50px;
  }
  li {
    width: 250px;
  }
  #home-button {
    width: 230px; /* 250px - 20px */
  }
  #sidebar {
    display: none;
  }
  #sidebar.expanded {
    display: flex;
  }
  main {
    width: 100%;
  }
  #menu {
    display: flex;
  }
  #close.expanded {
    display: flex;
  }
}



  