@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    --tea: #CCD5AE;
    --lighttea: #DEEBC3;
    --lightgray: #EBEBEB;
    --smoke: #F5F5F5;
}

html {
    background-color: var(--smoke);
    width: 100%;
}